<%- include('./partials/CustNav.ejs') %>

    <!-- Header-->
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Shop with style</h1>
          <p class="lead fw-normal text-white-50 mb-0">
            Get fresh and stylish outfit
          </p>
        </div>
      </div>
    </header>

<div class="container mt-5">
<div class="text-center">
 <h1>ABOUT US</h1>
</div>
<div class="text-center">
<img src="assets/img/profile.jpg" style="height: 200px; width: 200px; border-radius: 100px; "  >
</div>
<div class=" col-green ">
<p class=" mt-3 text-center">
  Written for the Common App college application essays <br>"Tell us your story" prompt. This essay could work for prompts<br> 1 and 7 for the Common App.

They covered the precious mahogany coffin with a <br>brown amalgam of rocks, decomposed organisms, and weeds. It was my turn to take the<br> shovel, but I felt too ashamed to dutifully send her off when I had not properly said goodbye.<br> I refused to throw dirt on her. I refused to let go of my grandmother, <br>to accept a death I had not seen coming, to believe that an illness could not only interrupt, <br>but steal a beloved life.

When my parents finally revealed to me that my grandmother had been battling liver cancer, 
</p>
</div>


</div>







    <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">
            Copyright &copy; Your Website 2021
          </p>
        </div>
      </footer>
      <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Core theme JS-->
      <script src="assets/js/scripts.js"></script>
    </body>
  </html>
  